<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Вот эта строка — главное -->
    <logger name="org.jooq.tools.LoggerListener" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

<!--    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->
<!--    <springProfile name="default,dev,tst">-->
<!--        <include resource="org/springframework/boot/logging/logback/base.xml"/>-->
<!--    </springProfile>-->

<!--    <springProfile name="prod">-->
<!--        <appender name="JSON_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">-->
<!--            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--        </appender>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="JSON_CONSOLE_APPENDER"/>-->
<!--        </root>-->
<!--    </springProfile>-->

</configuration>
